h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
.dataContainer{
    margin-bottom: 40px;
}
#tablaHistorialDelPaciente tr td{
    line-height: 30px;
}
#tablaHistorialDelPaciente tr td .btn{
    height: 100%;
    min-width: 120px;
}